.header{
    background-color: white;
    width: 100%;
}
.header__wordmark{
    text-decoration: none;
    color:#335576;
    margin: 1.25rem;
    padding-left: 4.4375rem;
}
.header__navlink{
    text-decoration: none;
    color: black;
    justify-content: space-between;
}
.header__navitems{
    justify-content: space-between;
    margin: .9375rem;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .0625rem
}
.header__list{
    align-items: flex-end;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-right: 5rem;
}
.hero__slogan{
    text-align: left;
    align-items: center;
    width: 600px;
    align-items: center;
}
.hero__image--logo{
    height: 395px;
    width: 470px;
    position: relative;
    right: 2.75rem;
    bottom: -20px;
}
.recommendations{
    display: flex;
    justify-content: center;
    margin-bottom: 4.375rem;
}
.recommendations__locations{
    text-align: left;
    color: #335576;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    padding-left: 5.5rem;
}
.footer__titles{
    color: #335576;
}
.footer__text{
    color: #DB7A4E;
    padding-top: 1.25rem;
    padding-bottom: .625rem;
    font-size: .625rem;
}
.footer__subtitles{
    color: #335576
}
.footer__section{
    display: flex;
    justify-content: space-evenly;
    background-color: #FEFAF5;
    padding-top: 3.4375rem;
}
.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #FEFAF5;
    padding-bottom: 95px;
    padding-top: 30px;
}
.hero__text{
    color: #335576;
    text-align:left;
    padding-top: 2.5rem;
    padding-bottom: 35px;
}
.hero__title{
    color: #335576;
    text-align:left;
    font-size: 2.5rem;
}
.hero__button{
    color: white;
    font-size: 16px;
    font-weight: 100;
    background-color: #DB7A4E;
    border-radius: 2rem;
    border: none;
    padding: 12px 50px;
}
.recommendations__card--hawaii{
    width: 280px;
    height: 430px;
    margin:1.25rem;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.20);
    background-image: url(../assets/Images/hawaii.jpg);
    background-size: cover;
    text-decoration: none;
}
.recommendations__card--iceland{
    width: 280px;
    height: 430px;
    margin:1.25rem;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,20%);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.20);
    background-image: url(../assets/Images/iceland.jpg);
    background-size: cover;
    text-decoration: none;
}
.recommendations__card--greece{
    width: 280px;
    height: 430px;
    margin:1.25rem;
    border-radius: .3125rem;
    border: 1px solid rgba(0,0,0,20%);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.20);
    background-image: url(../assets/Images/greece.jpg);
    background-size: cover;
    text-decoration: none;
}
.footer__icon{
    width: 25px;
}
.footer__container-contact{
    width:100px;
    height: 150px;
    padding-left: 5.4375rem;
    margin-left: 55px;
}
.footer__container-hours{
    padding-left: 110px;
}
.footer__container-social{
    padding-right: 110px;
    margin-right: 29px;
}
.locate{
    color: white;
    position: relative;
    bottom: -24.0625rem;
    left: 10rem;
}
div.hours__section{
    justify-content: center;
    align-items: center;
}
.hours__container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#hours__saturday{
    padding-left: 2rem;
}
#hours__sunday{
    padding-left: 1.875rem;
}
#facebook__icon{
    width: 13px;
}
#footer__title-social{
    color: #335576;
    padding-bottom: 35.5px; 
}
.social__icons{
    display: flex;
    justify-content: space-between;
    width: 135px;
}

